# Required
API_ID=37252222
API_HASH=7cde4cbc12392cdecd034e5e068657de
TOKEN=
MONGO_DB_URI=
DB_NAME=MeowMusic
STRING_SESSIONS=
SESSION_TYPE=pyrogram

# Optional

LOGGER_ID=
OWNER_ID=
OWNER_USERNAME=
DEV_URL=

DURATION_LIMIT=10800
QUEUE_LIMIT=35
MAX_AUTH_USERS=40

LEAVE_ON_DEMOTED=false
SET_CMDS=false
DEFAULT_LANG=en

DISABLE_COLOUR=false
START_IMAGES=https://yukiapi.site/file/6RldzdNt
PING_IMG_URL=https://telegra.ph/file/91533956c91d0fd7c9f20.jpg
REPO_IMG_URL=https://yukiapi.site/file/6RldzdNt
SUPPORT_CHAT=https://t.me/MeowClone 
SUPPORT_CHANNEL=https://t.me/MeowCloner 
ENABLE_PPROF=false
EFFECT_IDS=

COOKIES_LINK=
MEOW_API_URL=https://music.yukiapi.site
MEOW_API_KEY=
